# Intro
Explore the *Wine Spectator* Top 100 review set for training a text classifier model.

# Load the *Wine Spectator* Top 100 dataset

## File setup

In [12]:
# import and initialize main python libraries
import numpy as np
import pandas as pd
import seaborn as sns

## Load dataframe and reformat

In [13]:
# Note: save CSV files in UTF-8 format to preserve special characters.
df_Wine = pd.read_csv('./CSV_Wines.csv')

In [14]:
# CSV of wines is retaining a blank row at the end of the dataset. Remove the last row to prevent data type errors.

# number of rows to drop
n = 1

df_Wine.drop(df_Wine.tail(n).index, inplace = True)

In [5]:
df_Wine.shape

(3300, 18)

In [6]:
df_Wine.dtypes

Review_Year           float64
Rank                   object
Vintage                object
Score                 float64
Price                  object
Winemaker              object
Wine                   object
Wine_Style             object
Grape_Blend            object
Blend_List             object
Geography              object
Cases_Made            float64
Cases_Imported        float64
Reviewer               object
Drink_now             float64
Best_Drink_from       float64
Best_Drink_Through    float64
Review                 object
dtype: object

In [18]:
# limit dataset to text and classifier dimensions
df_Wine = df_Wine[['Wine_Style', 'Review']]
df_Wine.head()

  Wine_Style                                             Review
0        Red  Maturing well, this round red is a lovely exam...
1        Red  Powerful and structured, with minerally richne...
2        Red  Effusive aromas of black currant, blueberry, v...
3        Red  This distinctive red throws a lot of wild sage...
4        Red  A lush, ripe style, with açaí berry, blueberry...

In [19]:
# Summarize dataframe by count of reviews by wine style
df_style_count = df_Wine.groupby(['Wine_Style']).agg(['count'])
df_style_count

                    Review
                     count
Wine_Style
Dessert & Fortified     79
Red                   2284
Rosé | Rosado            9
Sparkling               89
White                  820

In [ ]:
# Create graph based on table
sns.set_theme(style = 'colorblind')
ax = sns.barplot(x = 'Wine_Style', y = '')